main {
  width: 100%;
  height: calc(100vh - 9.6px - 42.987px - 9.6px - 9.6px - 20.987px - 9.6px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  height: 300px;
  overflow-y: auto;
  max-width: 800px;
  margin: 0 auto;
}
